@tailwind base;
@tailwind components;
@tailwind utilities;


.pqa-blue-5{
    background-image: linear-gradient(to bottom right,#05224A , #05224A ,#022349, #022349);

}
.pqa-blue-1{

    background: #05224A !important;
}

.pqa-button-hover:hover{

    background-image: linear-gradient(to right, #033A85,#1356b3 );
}

.pqa-nav-text:hover{
    background-image: linear-gradient(to bottom right, #033A85,#1356b3 );
}

li.pqa-nav-text:hover ul.absolute {
    opacity: 1;
    pointer-events: auto;
}
ul.absolute {
    opacity: 0;
    pointer-events: none;
}


  
.pqa-bg-image{
    /* min-height: 75vh; */
    /* background: url('/public/assets/image\ 10.png'); */
    /* background-attachment: fixed; */
}

.pqa-li:hover{
    background: #033A85;
    color: white;
    
}


.pqa-text-blue-1 {
    color: #05224A;
}
.pqa-text-blue-2 {
    color: #01388D;
}
.pqa-text-blue-3 {
   background: #033988 !important;
}
.pqa-text-blue-3:hover {
   background: #1860cc !important;
}

.pqa-text-gold-1{
    color: #C18B03 ;
}

.pqa-text-gold-2{
    color: #cf9b17 ;
}

.pqa-blue-1-{
    background: #093066;
}

.pqa-blue-2{
    
    background: #033A85;
}
.pqa-blue-3{
    
    background: #033A85;
}
.pqa-blue-4{
    
    background: #002455;
}


.pqa-blue-linear{
    /* background-image: linear-gradient(to right, #002455 ,#033A85, #002455); */
    background-image: linear-gradient(to right,#002455 , #002455 ,#033A85, #002455);
}

.font-play-fair {
    font-family: 'Playfair Display';
}
.font-raleway {
    font-family: 'Raleway';
}



/* GOLD */


.pqa-gold-1 {
    background-color: #B79149;
}
.pqa-gold-2 {
    background-color: #FDD76C;
}
.pqa-gold-linear {

    background-image: linear-gradient(to right,#B79149 , #cca356 ,#856703, #B79149);

}


 

.pqa-nav-text-gold:hover{
    background-image: linear-gradient(to bottom right, #B79149,#B79149 );
}


/* BORDERS */

.pqa-border-bottom{
    border-bottom-color: #01388D ;
}
.pqa-border-b-gold{
    border-color: #C18B03 ;
}
.pqa-border-gold{
    border-color: #C18B03 ;
}
.pqa-gold-4{
    background: #F5ECD7 ;
}
.pqa-bg-gold-4{
    background: #C18B03  ;
}
.pqa-text-gold-4{
    color: #C18B03  ;
}





.v-carousel__prev-icon:hover,
.v-carousel__next-icon:hover {
  color: blue !important;
}


.custom-active-dot {
    width: 10px !important; 
    height: 10px !important;
  }

  .pqa-car{
    position: absolute;
    bottom: 0;

  }

